{% extends 'WER_app/base.html' %}

{% block body_block %}


<div style="background-color: rgba(255,255,255,0.5);">
 <header class="entry-header">
        <h1 class="entry-title">About Us</h1>
    </header><!-- .entry-header -->
    
    
    <!-- main content of the about us description -->
    <div class="entry-content">
        <p>We are a little bit different - we're a small site dedicated to providing the best eating experience you can get in Glasgow's West End. We believe in our project because we are 4 students and wish we had something like this when we had first come to uni. We hope you do too. 
        </p>
        <!-- photos of us -->
        <div>
            <h1 class="entry-title">Meet the Team</h1>
            <img class="thumbnail" src="{{MEDIA_URL}}Martin3.jpg"
                 alt = "Picture of the Martin!" style="width:250px;height:200px;padding:10px;" />    
            <img  class="thumbnail" src="{{MEDIA_URL}}Phoebe.jpg"
                 alt = "Picture of the Phoebe!" style="width:250px;height:200px;padding:10px;"/>
            <img  class="thumbnail" src="{{MEDIA_URL}}Beth.jpg"
                 alt = "Picture of the Beth!" style="width:250px;height:200px;padding:10px;" />
            <img  class="thumbnail" src="{{MEDIA_URL}}Callum.jpg"
                 alt = "Picture of the Callum!"style="width:250px;height:200px;padding:10px;" /></div>
        </div>
    </div>
{% endblock %}
        