{% extends 'WER_app/homeBase.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
    {{ page.title }}
{% endblock %}

<!-- basic text for the index page and a button to show restaurants --> 
{% block body_block %}
<div class="hidden">
        <h1 class="cover-heading" style = "color: white; text-align: center;">Welcome to West End Restaurants</h1>
        <p class="lead" style="color: white; text-align: center;">View, rate and compare cafes and restaurants in the bustling West End of Glasgow</p>
        <p align="center">
        <a href="/WER_app/restaurant/" class="btn btn-lg btn-secondary">Get Started</a>
        </p>
</div>


{% endblock %}
